nav a {
  display: block;
  position: absolute;
  top: 50%;
  text-align: left;
  z-index: 1000;
  transform: translateY(-50%);
}

nav a.prev {
  left: 0;
}

nav a.next {
  right: 0;
}

nav a svg {
  display: block;
  padding: 0;
  margin: 0 auto;
}

/* Individual styles */
/*-------------------*/
/* Slide out */
/*-------------------*/

.color-1 {
  background: #bdc3c7;
}

.nav-slide .icon-wrap {
  display: block;
  position: relative;
  padding: 20px;
  background: #fff;
  z-index: 100;
}

.nav-slide svg.icon {
  fill: #34495e;
}

.nav-slide div {
  position: absolute;
  top: 50%;
  padding: 0 100px;
  background-color: #34495e;
  transition: transform 0.3s;
}

.nav-slide a.prev div {
  left: 0;
  padding-right: 120px;
  transform: translate(-100%, -50%);
}

.nav-slide a.next div {
  right: 0;
  padding-left: 120px;
  text-align: right;
  transform: translate(100%, -50%);
}

.nav-slide h3 {
  position: relative;
  padding: 20px 0;
  margin: 0;
  font-weight: 300;
  font-size: 1.3em;
  color: #fff;
  line-height: 1.5;
  white-space: nowrap;
}

.nav-slide div h3 span {
  display: block;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-style: italic;
  font-size: 65%;
  color: #95a5a6;
}

.nav-slide img {
  position: absolute;
  top: 0;
  height: 100%;
}

.nav-slide a.prev img {
  right: 0;
}

.nav-slide a.next img {
  left: 0;
}

.nav-slide a:hover div {
  transform: translate(0, -50%);
}

/*-------------------*/
/* Image Bar */
/*-------------------*/

.color-2 {
  background: #34495e;
}

.nav-imgbar a {
  width: 100px;
  height: 90%;
  background-color: transparent;
  transition: background-color 0.3s;
  overflow: hidden;
}

.nav-imgbar .icon-wrap {
  display: block;
  position: relative;
  top: 50%;
  padding: 30px;
  margin: 0 auto;
  z-index: 100;
  transition: transform 0.3s;
}

.nav-imgbar a.prev .icon-wrap {
  transform: translate(10px, -50%);
}

.nav-imgbar a.next .icon-wrap {
  transform: translate(-10px, -50%);
}

.nav-imgbar svg.icon {
  fill: #fff;
}

.nav-imgbar img {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.nav-imgbar a.prev img {
  left: 0;
  transform: translateX(100%);
}

.nav-imgbar a.next img {
  right: 0;
  transform: translateX(-100%);
}

.nav-imgbar a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.nav-imgbar a:hover .icon-wrap {
  transform: translate(0, -50%);
}

.nav-imgbar a:hover img {
  opacity: 0.6;
  transform: translateX(0);
}
