html,
body,
.container {
  height: 100%;
}

.js .boxgallery,
.js .boxgallery div {
  position: absolute;
}

.js .boxgallery,
.bg-tile,
.bg-img {
  overflow: hidden;
}

.js .boxgallery,
.js .panel {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
  z-index: 0;
  perspective: 1200px;
}

.bg-tile {
  width: 50%;
  height: 50%;
}

.bg-tile:nth-child(2),
.bg-tile:nth-child(4) {
  left: 50%;
}

.bg-tile:nth-child(3),
.bg-tile:nth-child(4) {
  top: 50%;
}

.bg-img {
  width: 100%;
  height: 100%;
  background: #999;
}

.bg-img img {
  position: absolute;
  height: 200%;
}

@media screen and (min-aspect-ratio: 1280/850) {
  .bg-img img {
    width: 200%;
    height: auto;
  }
}

.bg-tile:nth-child(2) .bg-img img,
.bg-tile:nth-child(4) .bg-img img {
  left: -100%;
}

.bg-tile:nth-child(3) .bg-img img,
.bg-tile:nth-child(4) .bg-img img {
  top: -100%;
}

.boxgallery > nav span {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  text-align: left;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  outline: none;
}

.boxgallery > nav span.prev {
  left: 0;
}

.boxgallery > nav span.next {
  right: 0;
}

.boxgallery > nav i {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.boxgallery > nav span::before,
.boxgallery > nav span::after,
.boxgallery > nav i::before,
.boxgallery > nav i::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 3px;
  height: 50%;
  outline: 1px solid transparent;
  background: #dbccd0;
  transition: transform 0.3s;
  backface-visibility: hidden;
}

.boxgallery > nav i::before,
.boxgallery > nav i::after {
  height: 0;
  background: #fff;
  transition: height 0.3s, transform 0.3s;
  z-index: 100;
}

.boxgallery > nav span::before,
.boxgallery > nav i::before {
  top: 50%;
  transform: translateX(-50%) rotate(-135deg);
  transform-origin: 50% 0%;
}

.boxgallery > nav span.next::before,
.boxgallery > nav span.next i::before {
  transform: translateX(-50%) rotate(135deg);
  transform-origin: 50% 0%;
}

.boxgallery > nav span::after,
.boxgallery > nav i::after {
  top: 50%;
  transform: translateX(-50%) rotate(-45deg);
  transform-origin: 0 0;
}

.boxgallery > nav span.next::after,
.boxgallery > nav span.next i::after {
  transform: translateX(-50%) rotate(45deg);
  transform-origin: 100% 0%;
}

.no-touch .boxgallery > nav span:hover i::before,
.no-touch .boxgallery > nav span:hover i::after {
  height: 50%;
}

.no-touch .boxgallery > nav span:hover::before,
.no-touch .boxgallery > nav span:hover i::before {
  transform: translateX(-50%) rotate(-125deg);
}

.no-touch .boxgallery > nav span.next:hover::before,
.no-touch .boxgallery > nav span.next:hover i::before {
  transform: translateX(-50%) rotate(125deg);
}

.no-touch .boxgallery > nav span:hover::after,
.no-touch .boxgallery > nav span:hover i::after {
  transform: translateX(-50%) rotate(-55deg);
}

.no-touch .boxgallery > nav span.next:hover::after,
.no-touch .boxgallery > nav span.next:hover i::after {
  transform: translateX(-50%) rotate(55deg);
}

.panel.current {
  z-index: 2;
}

.panel.active {
  z-index: 1;
}

.panel.current .bg-img {
  transition: transform 1.1s ease-in-out;
}

.boxgallery[data-effect="effect-1"] .panel.active .bg-tile,
.boxgallery[data-effect="effect-2"] .panel.active .bg-tile {
  animation: scaleDown 1.1s ease-in-out;
}

@keyframes scaleDown {
  from {
    transform: translate3d(0, 0, 380px);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.boxgallery[data-effect="effect-2"] .panel.current .bg-img {
  transition: transform 0.9s cubic-bezier(0.7, 0, 0.3, 1);
}

.boxgallery[data-effect="effect-2"] .panel.current .bg-tile:nth-child(2) .bg-img {
  transition-delay: 0.15s;
}

.boxgallery[data-effect="effect-2"] .panel.current .bg-tile:nth-child(3) .bg-img {
  transition-delay: 0.3s;
}

.boxgallery[data-effect="effect-2"] .panel.current .bg-tile:nth-child(4) .bg-img {
  transition-delay: 0.45s;
}

.boxgallery[data-effect="effect-3"] .panel::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 1.1s ease-in-out;
}

.boxgallery[data-effect="effect-3"] .panel.current::after,
.boxgallery[data-effect="effect-3"] .panel.active::after {
  opacity: 0;
}

.boxgallery[data-effect="effect-3"] .panel.current::after {
  transition: none;
}

.boxgallery[data-effect="effect-3"] .panel.current .bg-img {
  transition: transform 1.1s cubic-bezier(0.7, 0, 0.3, 1);
}

.boxgallery[data-effect="effect-3"] .panel.current .bg-tile:nth-child(2) .bg-img {
  transition-delay: 0.15s;
}

.boxgallery[data-effect="effect-3"] .panel.current .bg-tile:nth-child(3) .bg-img {
  transition-delay: 0.3s;
}

.boxgallery[data-effect="effect-3"] .panel.current .bg-tile:nth-child(4) .bg-img {
  transition-delay: 0.45s;
}

@media screen and (max-width: 380px) {
  .boxgallery > nav span {
    width: 50px;
    height: 50px;
  }
}
